header {
    height:400px;
    background-image:url(img/chouette.jpg);
    background-repeat : no-repeat;
    border:1px solid #CCC;
    width:100%;
    margin:0px auto;
    background-position: center;
    background-color: black;
  }